* {

    background-color: rgb(39, 39, 37);
}



.titulo{font-size: 100px;}

.titulo{font-size: 5px;}

.titulo{font-size: 100px;}

.titulo, .botão, .paragrafo{
color: blue;
color: rgb(255, 0, 0);
font-weight: bold;
}


